<a href="https://colab.research.google.com/github/kylinz0817/civitai-scraper/blob/main/HW1_%7C_IS_451_%7C_Companion_Notebook_Student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import statsmodels.formula.api as smf

In [ ]:
# Download data for HW
!wget -O climate_change.csv https://docs.google.com/spreadsheets/d/1D4HScIBoOgNLrwJGwGmz9YBGNP7Nn7kv0rMO-EAjGrg/export?format=csv

--2023-04-04 16:38:37--  https://docs.google.com/spreadsheets/d/1D4HScIBoOgNLrwJGwGmz9YBGNP7Nn7kv0rMO-EAjGrg/export?format=csv
Resolving docs.google.com (docs.google.com)... 74.125.69.113, 74.125.69.139, 74.125.69.100, ...
Connecting to docs.google.com (docs.google.com)|74.125.69.113|:443... connected.
HTTP request sent, awaiting response... 307 Temporary Redirect
Location: https://doc-08-2k-sheets.googleusercontent.com/export/r6backulg5lnalo18mkmp7tf28/ap4djcu8v74hovpj7c74dr513c/1680626315000/110211862173891624278/*/1D4HScIBoOgNLrwJGwGmz9YBGNP7Nn7kv0rMO-EAjGrg?format=csv [following]
Warning: wildcards not supported in HTTP.
--2023-04-04 16:38:37--  https://doc-08-2k-sheets.googleusercontent.com/export/r6backulg5lnalo18mkmp7tf28/ap4djcu8v74hovpj7c74dr513c/1680626315000/110211862173891624278/*/1D4HScIBoOgNLrwJGwGmz9YBGNP7Nn7kv0rMO-EAjGrg?format=csv
Resolving doc-08-2k-sheets.googleusercontent.com (doc-08-2k-sheets.googleusercontent.com)... 173.194.196.132, 2607:f8b0:4001:c1a::84
Connecting to doc-08-2k-sheets.googleusercontent.com (doc-08-2k-sheets.googleusercontent.com)|173.194.196.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘climate_change.csv’

climate_change.csv      [ <=>                ]  22.84K  --.-KB/s    in 0s

2023-04-04 16:38:38 (76.4 MB/s) - ‘climate_change.csv’ saved [23384]

In [ ]:
# Load data
df_climate = pd.read_csv("climate_change.csv")

In [ ]:
df_climate.head(5)

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
0,1983,5,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,0.109
1,1983,6,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,0.118
2,1983,7,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,0.137
3,1983,8,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,0.176
4,1983,9,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,0.149

Here are the feature explanations for your convenience:
- Year: the observation year.

- Month: the observation month.

- Temp: the difference in degrees Celsius between the average global temperature in that period and a reference value. This data comes from the Climatic Research Unit at the University of East Anglia.

- CO2, N2O, CH4, CFC-11, CFC-12: atmospheric concentrations of carbon dioxide (CO2), nitrous oxide (N2O), methane (CH4), trichlorofluoromethane (CCl3F; commonly referred to as CFC-11) and dichlorodifluoromethane (CCl2F2; commonly referred to as CFC-12), respectively. This data comes from the ESRL/NOAA Global Monitoring Division.

- Aerosols: the mean stratospheric aerosol optical depth at 550 nm. This variable is linked to volcanoes, as volcanic eruptions result in new particles being added to the atmosphere, which affect how much of the sun's energy is reflected back into space. This data is from the Godard Institute for Space Studies at NASA.

- TSI: the total solar irradiance (TSI) in W/m2 (the rate at which the sun's energy is deposited per unit area). Due to sunspots and other solar phenomena, the amount of energy that is given off by the sun varies substantially with time. This data is from the SOLARIS-HEPPA project website.

- MEI: multivariate El Nino Southern Oscillation index (MEI), a measure of the strength of the El Nino/La Nina-Southern Oscillation (a weather effect in the Pacific Ocean that affects global temperatures). This data comes from the ESRL/NOAA Physical Sciences Division.

Note: you may encounter trouble in your regression because of the variables CFC-11 and CFC-12. This is because the ols function cannot support the hyphen "-" (it interprets is a minus). So you can rename the variables as follows:

In [ ]:
df_climate = df_climate.rename(columns={'CFC-11': 'CFC_11', 'CFC-12': 'CFC_12'})